*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #ECEDEF;
}


.messenger {
  position: absolute;
  background-color: #fff;
  height: 950px;;
  width: 1440px;
  top:120px;
  left: 80px;
  opacity: 1;
  border-radius: 2%;
  display: flex;
}

